<!DOCTYPE html>
  <!-- Pasted together from  https://github.com/BulmaTemplates/bulma-templates/ -->
<html lang="en">

    {{partial "head.html" .}}

<body>
    {{partial "header.html" .}}

    {{ block "main" .}} {{end}}

    {{partial "footer.html" .}}

</body>
</html>