<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{.Title}}</title>
    <meta name="description" content="{{.Description}}">
    <link rel="stylesheet" href="{{ "css/showcase.css" | relURL }}" />
</head>